<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StepperViewControll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41A059451DA6CC3100F41FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41A059611DA6CC3300F41FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41A0596C1DA6CC3300F41FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
